<header class="border-[1px] p-[10px] rounded-[10px] rounded-b-none">
  <app-email-info (reloadEmail)="updateEmail()"  [email]="emailActive"></app-email-info>
</header>
<main class="border-[1px] rounded-[10px] rounded-t-none grid grid-cols-3">

  <section class="col-span-1 border-r ">
    <header class="border-b-[1px] p-[10px]">
      <h2 class="font-bold">Inbox</h2>
    </header>

    <aside class="overflow-y-auto  h-[400px]">
      <ng-container *ngIf="emails.length > 0; else noEmails">
        <ng-container *ngFor="let email of emails; let i = index">
          <app-email-list
          (emailSelected)="handleEmailSelected($event)"
          [isSelected]="selectedItem === email.id"
          (click)="selectItem(email.id)"
          [email]="email"
          >
        </app-email-list>
        </ng-container>
      </ng-container>
      <ng-template #noEmails>
        <h3 class="p-[10px]">No email found</h3>
      </ng-template>

    </aside>

  </section>

  <section class="col-span-2">
    <header class="border-b-[1px] p-[10px]">
      <small>Send by: {{selectedEmail.fromAddr}}</small>
    </header>

    <app-box-email [email]="selectedEmail"></app-box-email>
  </section>
</main>
